/* Background and default style */
body {
  background-color: #69cdf1;
  margin: 20px;
}

/* Default for links */
a {
  text-decoration: none;
  cursor: pointer;
}

/* Container */
#siteContainer {
  max-width: 950px;
  margin: auto;
}

/* Header */
#siteHeader {
  background-color: #1861bc;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  align-items: center;
  padding: 30px 10px 30px 40px;
}

#siteHeader img {
  width: 100px;
}

/* Site name and motto */
#siteHeader div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

/* Container for Left and Middle */
#middleLeftContainer {
  display: flex;
}

/* Left */
#navbar {
  background-color: #73b2ff;
  border-bottom-left-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3em;
  width: 150px;
  height: 745px;
  padding: 10px;
}

#navbar a {
  margin-top: 20px;
}

/* Middle */
#main {
  background-color: #c6dfff;
  border-bottom-right-radius: 10px;
  color: black;
  padding: 10px;
  width: 100%;
  height: 745px;
  margin: auto;
  font-size: 1em;
}

/* Middle Sections */
#page2 {
  display: none;
}

#page3 {
  display: none;
}

#page4 {
  display: none;
}

#page5 {
  display: none;
}

/* Bottom */
footer {
  background-color: #acc5ff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px;
  text-align: center;
}
