/* Customise the background */
body {
  background-color: #69cdf1;
  margin: 20px;
}

/* Default for links */
a {
  text-decoration: none;
  cursor: pointer;
}

/* This container contains the whole website except for the background */
#siteContainer {
  max-width: 950px;
  margin: auto;
}

/* The main header on top of the page */
#siteHeader {
  background-color: #1861bc;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  align-items: center;
  padding: 30px 10px 30px 40px;
}
/* Your website logo */
#siteHeader img {
  width: 100px;
}

/* Site name and motto */
#siteHeader div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

/* This container keeps the left navbar and the main page aligned */
#middleLeftContainer {
  display: flex;
}

/* Left Navbar */
#navbar {
  background-color: #73b2ff;
  border-bottom-left-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3em;
  width: 150px;
  height: 745px;
  padding: 10px;
}
#navbar a {
  margin-top: 20px;
}

/* This is the container for your various pages */
#main {
  background-color: #c6dfff;
  border-bottom-right-radius: 10px;
  color: black;
  padding: 10px;
  width: 100%;
  height: 745px;
  margin: auto;
  font-size: 1em;
}

/* Do not hide your home section by default, hide all others */
/* Then with Javascript it will un-hide them when you click the corresponding link */
#page2 {
  display: none;
}

#page3 {
  display: none;
}

#page4 {
  display: none;
}

#page5 {
  display: none;
}
